* {
  word-spacing: 6px;
  letter-spacing: 2px;
  line-height: 30px;
}

.active,
.correct {
  color: green;
}

.wrong {
  color: red;
}

.correct-background {
  background-color: green;
  color: white;
  padding: 5px;
}

.wrong-background {
  background-color: red;
  color: black;
  padding: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

.paragraphShow {
  margin: 0 150px;
}
